# Student Records **Management**

In [ ]:
#The list of dictionaries where each dictionary represents a student
students = [
   #Student 1
    {
        'stud_id': (18, 'CSD240'), #Unique identifier (a tuple consisting of an interger & a string)
        'name': 'Trishna Devi', #The student's full name (using a string).
        'age': 23, #The student's age (using an integer).
        'enrolled_courses': {'CS539', 'CS542', 'CS500'}, #The set of course codes
        'grades': {'CS539': 73, 'CS542': 87, 'CS500': 64} #A dictionary(course codes are 'keys' & grades are 'value')
    },
    #Student 2
    {
        'stud_id': (11, 'CSD241'),
        'name': 'Manu bhaker',
        'age': 22,
        'enrolled_courses': {'CS101', 'CS303', 'CS111'},
        'grades': {'CS101': 90, 'CS303': 81, 'CS111':44}
    },
    #Student 3
    {
        'stud_id': (30, 'CSD789'),
        'name': 'Elon mask',
        'age': 24,
        'enrolled_courses': {'CS101', 'CS542'},
        'grades': {'CS101': 91, 'CS542': 88}
    },
    #Student 4
    {
        'stud_id': (1, 'CSM211'),
        'name': 'Michael Paul',
        'age': 23,
        'enrolled_courses': {'CS303', 'CS500', 'CS101'},
        'grades': {'CS303': 73, 'CS500': 69, 'CS101': 80}
    },
    #Student 5
    {
        'stud_id': (21, 'CST222'),
        'name': 'Sophia Lee',
        'age': 22,
        'enrolled_courses': {'CS500', 'CS111'},
        'grades': {'CS500': 81, 'CS111': 56}
    }
]

#TASK: Add a new student to the list. Ensure the student ID is unique and cannot be altered once set.

In [ ]:
#Function to add new student to the 'students' list:
def add_student(students, student_id, name, age, enrolled_courses, grades):
    # Check if the ID is unique
    if any(student['stud_id'] == student_id for student in students):
        raise ValueError("Student ID must be unique.")

    #To Add the new student dictionary to the end of the 'students' list.
    students.append({
        'stud_id': student_id,
        'name': name,
        'age': age,
        'enrolled_courses': enrolled_courses,
        'grades': grades
    })

In [ ]:
# Adding..
add_student(
    students,
    (16, 'CST242'),
    'Olivia Martin',
    24,
    {'CS101', 'CS303'},
    {'CS101': 86, 'CS303': 67}
)

In [ ]:
#To check if the student is added or not
print(students)

[{'stud_id': (18, 'CSD240'), 'name': 'Trishna Devi', 'age': 23, 'enrolled_courses': {'CS539', 'CS542', 'CS500'}, 'grades': {'CS539': 73, 'CS542': 87, 'CS500': 64}}, {'stud_id': (11, 'CSD241'), 'name': 'Manu bhaker', 'age': 22, 'enrolled_courses': {'CS101', 'CS303', 'CS111'}, 'grades': {'CS101': 90, 'CS303': 81, 'CS111': 44}}, {'stud_id': (30, 'CSD789'), 'name': 'Elon mask', 'age': 24, 'enrolled_courses': {'CS101', 'CS542'}, 'grades': {'CS101': 91, 'CS542': 88}}, {'stud_id': (1, 'CSM211'), 'name': 'Michael Paul', 'age': 23, 'enrolled_courses': {'CS101', 'CS500', 'CS303'}, 'grades': {'CS303': 73, 'CS500': 69, 'CS101': 80}}, {'stud_id': (21, 'CST222'), 'name': 'Sophia Lee', 'age': 22, 'enrolled_courses': {'CS500', 'CS111'}, 'grades': {'CS500': 81, 'CS111': 56}}, {'stud_id': (16, 'CST242'), 'name': 'Olivia Martin', 'age': 24, 'enrolled_courses': {'CS101', 'CS303'}, 'grades': {'CS101': 86, 'CS303': 67}}]

TASK: Update the courses enrolled for a specific student without affecting the existing data.

In [ ]:
def update_courses(students, student_id, new_courses):
    for student in students:
        if student['stud_id'] == student_id:
            student['enrolled_courses'] = new_courses
            return
    raise ValueError("Student ID not found.")

#Updating the enrrolled course for student 3
update_courses(
    students,
    (30, 'CSD789'),
    {'CS101', 'CT444', 'CS001'})

In [ ]:
#To check updated enrolled course for student 3
print(students)

[{'stud_id': (18, 'CSD240'), 'name': 'Trishna Devi', 'age': 23, 'enrolled_courses': {'CS539', 'CS542', 'CS500'}, 'grades': {'CS539': 73, 'CS542': 87, 'CS500': 64}}, {'stud_id': (11, 'CSD241'), 'name': 'Manu bhaker', 'age': 22, 'enrolled_courses': {'CS101', 'CS303', 'CS111'}, 'grades': {'CS101': 90, 'CS303': 81, 'CS111': 44}}, {'stud_id': (30, 'CSD789'), 'name': 'Elon mask', 'age': 24, 'enrolled_courses': {'CS101', 'CS001', 'CT444'}, 'grades': {'CS101': 91, 'CS542': 88}}, {'stud_id': (1, 'CSM211'), 'name': 'Michael Paul', 'age': 23, 'enrolled_courses': {'CS101', 'CS500', 'CS303'}, 'grades': {'CS303': 73, 'CS500': 69, 'CS101': 80}}, {'stud_id': (21, 'CST222'), 'name': 'Sophia Lee', 'age': 22, 'enrolled_courses': {'CS500', 'CS111'}, 'grades': {'CS500': 81, 'CS111': 56}}, {'stud_id': (16, 'CST242'), 'name': 'Olivia Martin', 'age': 24, 'enrolled_courses': {'CS101', 'CS303'}, 'grades': {'CS101': 86, 'CS303': 67}}]

#TASK: Modify a student's grade for a specific course. If the student is not enrolled in the course, add the course and grade to their record.

In [ ]:
def update_grade(students, student_id, course_code, grade):
        for student in students:
            if student['stud_id'] == student_id:
              student['grades'][course_code] = grade
            if course_code not in student['enrolled_courses']:
                student['enrolled_courses'].add(course_code)
            return
        raise ValueError("Student ID not found.")


# updating
update_grade(
    students,
    (18, 'CSD240'),
    'CT444',
    80)

In [ ]:
#to check if grade is updated of student 1 for CT444 course
print(students)

[{'stud_id': (18, 'CSD240'), 'name': 'Trishna Devi', 'age': 23, 'enrolled_courses': {'CT444', 'CS539', 'CS542', 'CS500'}, 'grades': {'CS539': 73, 'CS542': 87, 'CS500': 64, 'CT444': 80}}, {'stud_id': (11, 'CSD241'), 'name': 'Manu bhaker', 'age': 22, 'enrolled_courses': {'CS101', 'CS303', 'CS111'}, 'grades': {'CS101': 90, 'CS303': 81, 'CS111': 44}}, {'stud_id': (30, 'CSD789'), 'name': 'Elon mask', 'age': 24, 'enrolled_courses': {'CS101', 'CS001', 'CT444'}, 'grades': {'CS101': 91, 'CS542': 88}}, {'stud_id': (1, 'CSM211'), 'name': 'Michael Paul', 'age': 23, 'enrolled_courses': {'CS101', 'CS500', 'CS303'}, 'grades': {'CS303': 73, 'CS500': 69, 'CS101': 80}}, {'stud_id': (21, 'CST222'), 'name': 'Sophia Lee', 'age': 22, 'enrolled_courses': {'CS500', 'CS111'}, 'grades': {'CS500': 81, 'CS111': 56}}, {'stud_id': (16, 'CST242'), 'name': 'Olivia Martin', 'age': 24, 'enrolled_courses': {'CS101', 'CS303'}, 'grades': {'CS101': 86, 'CS303': 67}}]

#TASK: Extract the names of all students who are taking a course that is in a predefined set of "advanced courses".

In [ ]:
advanced_courses = {'CT444', 'CS001'} #predefined set

#Function to get student of advacned_course:

# Getting names of students in advanced courses


def get_students_in_advanced_courses(students, advanced_courses):
    names = [student['name'] for student in students if student['enrolled_courses'] & advanced_courses]
    return names

print(get_students_in_advanced_courses(students, advanced_courses))

['Trishna Devi', 'Elon mask']

#TASK: Determine the average age of students enrolled in a specific course.

In [ ]:
def average_age_in_course(students, course_code):
    ages = [student['age'] for student in students if course_code in student['enrolled_courses']]
    if not ages:
        return None
    return sum(ages) / len(ages)


print(average_age_in_course(students, 'CS101'))

23.25

#TASK: Identify the student(s) with the highest average grade across all their courses. If there is a tie, list all such students.

In [ ]:
def highest_avg_grade_students(students): #Function defination
    avg_grades = {} #Initialize an Empty Dictionary to Store Average Grades
    for student in students: #Iterate Over Each Student in the List
        grades = student['grades']
        if grades:
            avg_grade = sum(grades.values()) / len(grades)
            avg_grades[student['name']] = avg_grade

    if not avg_grades: #Check if There Are Any Grades to Compare
        return []

    highest_avg = max(avg_grades.values()) #Find the Highest Average Grade
    return [name for name, avg in avg_grades.items() if avg == highest_avg] #Return Names of Students With the Highest Average Grade


print(highest_avg_grade_students(students))

['Elon mask']